<footer class="site-footer">
  <div class="container-fluid">
    <div class="container-fluid-inner">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-6">
          <ul>
            <li>{{ site.footer }}</li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6 top-button-container">
          <span class="top-button footer-link" role="link" tabindex="0" data-barba-prevent="self">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
              <g fill="none" stroke="currentColor">
                <path d="M0.8,16.2L16,1l15.2,15.2"></path>
                <path d="M16,32V1"></path>
              </g>
            </svg></span>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="/assets/js/barba.umd.js" type="text/javascript"></script>
<script src="/assets/js/main.js" type="text/javascript"></script>