<footer id="footer" class="site-footer">
  <div class="container--fluid">
    <div class="container--fluid-inner">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-6">
          <ul>
            <li>{{ site.footer }}</li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6 footer-button-container">
          <span
            class="button top-button site-footer__link"
            role="link"
            tabindex="0"
            data-barba-prevent="self"
            aria-label="Back to top">Go to top &#x2191;
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="{{ '/assets/js/barba.umd.js' | url }}" type="text/javascript"></script>
<script src="{{ '/assets/js/main.js' | url | append: cacheBust }}" type="text/javascript"></script>