<header id="header" class="site-header site-header--fixed" role="banner">
  <div class="container--fluid">
    <div class="container--fluid-inner">
      <div class="row">
        <div class="col-xs-4 col-sm-6 col-lg-6">
          <div class="site-title-container">
            <a class="site-title" href="/">{{ site.title }}</a>
          </div>
        </div>
        <div class="col-xs-8 col-sm-6 col-lg-6 menu">
          <nav class="site-nav">
            <div class="site-nav__link-container">
              <a class="site-nav__link site-nav__link-item" href="/works" aria-label="Navigate to works page">Works</a>
              <a class="site-nav__link site-nav__link-item information" href="/information" aria-label="Navigate to information page">Information</a>
              <span class="site-nav__link site-nav__link--right">
                <a class="email" href="mailto:{{ site.email }}">Email</a>
                <a class="close" href="/works">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <g fill="none" stroke="currentColor">
                      <path class="st0" d="M27,27L5,5" />
                      <path class="st0" d="M27,5L5,27" />
                    </g>
                  </svg>
                </a>
              </span>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>