<div class="loader">
  <div class="loader-container">
    <svg class="loader-circle" viewBox="0 0 80 80"><circle cx="40" cy="40" r="38"></circle></svg>
    <div class="loader-logo-container">
    <svg class="loader-logo" version="1.1" x="0px" y="0px" viewBox="0 0 50 30" xml:space="preserve"><path class="loader-logo" d="M49.891,0L39.105,30H33.12L43.906,0H49.891z M0.109,29.998h5.985l2.445-6.799H2.554L0.109,29.998z M21.9,0 L11.113,30h5.985L27.885,0H21.9z M32.903,0L22.117,30h5.985L38.889,0H32.903z"/>
    </svg>
    </div>
  </div>
</div>