<div class="screensaver">
  <div class="screensaver-container">
    <div class="screensaver__time">
      <span class="screensaver__hour">00</span>
      <span class="screensaver__colon">:</span>
      <span class="screensaver__minute">00 00</span>
    </div>
    <span class="screensaver__location">Bali — Indonesia</span>
  </div>
</div>
