<div class="screensaver">
  <div class="screensaver-container">
    <div class="screensaver-time">
      <span class="screensaver-hour">00</span>
      <span class="screensaver-colon">:</span>
      <span class=" screensaver-minute">00 00</span>
    </div>
    <span class="screensaver-location">Bali — Indonesia</span>
  </div>
</div>
