/**
 * Font
 */
@font-face {
  font-family: "Webfont";
  src: url("../fonts/SuisseIntl-Book-WebXL.woff2") format("woff2"),
    url("../fonts/SuisseIntl-Book-WebXL.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/**
 * Reset some basic elements
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/**
 * Basic styling
 */
html {
  --black: #191b1d;
  --gray: #707070;
  --lightgray: #dadada;
  --white: #ffffff;

  --text-color: var(--black);
  --bg-color: var(--white);
  --line-color: var(--gray);
}

::-moz-selection {
  color: var(--white);
  background: var(--black);
}

::selection {
  color: var(--white);
  background: var(--black);
}

body {
  font-family: "Webfont", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.35;
  color: var(--text-color);
  background: var(--bg-color);
  text-rendering: geometricPrecision;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}

picture {
  display: block;
  height: 100%;
  width: 100%;
}

.separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--lightgray);
  margin: 0;
  padding-bottom: 10px;
  margin-top: 50px;
  clear: both;
  transform-origin: left center;
}

.separator--first {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--lightgray);
  margin: 0;
  padding-bottom: 10px;
  clear: both;
}

ul li,
ol li {
  list-style: none;
}

input[type="radio"],
input[type="radio"]:checked {
  visibility: hidden;
  display: none;
}

/**
 * Utility
 */
.show {
  opacity: 1;
  /* display: block; */
  transition: all 0.4s;
}
.hide {
  opacity: 0;
  /* display: none; */
  transition: all 0.4s;
}

/**
 * Wrapper
 */
.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 40px;
}

/**
 * Pace.js
 */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: var(--black);
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}

/**
 * Splitting
 */
.splitting .word,
.splitting .char {
  display: inline-block;
}

.splitting .char {
  position: relative;
}

.word {
  line-height: 1.1;
}

.splitting .char::before,
.splitting .char::after {
  content: attr(data-char);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.splitting {
  --word-center: calc((var(--word-total) - 1) / 2);
  --char-center: calc((var(--char-total) - 1) / 2);
  --line-center: calc((var(--line-total) - 1) / 2);
}

.splitting .word {
  --word-percent: calc(var(--word-index) / var(--word-total));
  --line-percent: calc(var(--line-index) / var(--line-total));
}

.splitting .char {
  --char-percent: calc(var(--char-index) / var(--char-total));
  --char-offset: calc(var(--char-index) - var(--char-center));
  --distance: calc(
    (var(--char-offset) * var(--char-offset)) / var(--char-center)
  );
  --distance-sine: calc(var(--char-offset) / var(--char-center));
  --distance-percent: calc((var(--distance) / var(--char-center)));
}

/**
 * SplitType
 */
.line {
  overflow: hidden;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: 13px;
}

.site-big-text h1 {
  font-size: 54px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -0.02em;
}

.site-big-text .letter {
  display: inline-block;
}

/**
 * Links
 */
a {
  color: var(--black);
  text-decoration: none;
  transition: all 0.3s 0s ease;
}

a:visited {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  text-decoration: none;
}

.page--inner a:after {
  content: "\2197";
  margin-left: 4px;
}

/**
 * Navigation
 */
.site-header {
  line-height: 2em;
  width: 100%;
  margin: 0 auto;
  background: var(--white);
}

.site-header .row {
  align-items: center;
  height: 30px;
}

.site-header .menu {
  text-align: right;
}

.site-header--fixed {
  position: fixed;
  z-index: 20;
  right: 0;
  left: 0;
  top: 0;
}

.site-header a:hover {
  text-decoration: none;
}

.site-nav {
  text-align: left;
}

.site-nav .site-nav__link:not(:last-child) {
  margin-right: 40px;
  transition: all 0.25s ease;
}

.site-nav__link,
.site-title {
  position: relative;
  display: inline-block;
}

.site-nav__link--right {
  display: inline-flex;
  float: right;
}

.site-nav__link--right a {
  border: 1px solid var(--black);
  border-radius: 2em;
  padding: 0 1em;
}

.site-nav__link--right a:hover {
  background: var(--black);
  color: var(--white);
}

.site-nav--active,
.site-nav--active:before {
  transition: all 0.25s ease;
}

.site-nav--active:before,
.site-nav__link-item:hover:before {
  content: "\2022";
  font-size: 13px;
  line-height: 26px;
  position: absolute;
  display: inline;
  color: var(--black);
  transform-origin: center;
}

.site-nav__link-item:hover:before {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

.footer-button-container {
  text-align: right;
}

.site-nav__link--right .close,
.toggle-button {
  cursor: pointer;
  display: inline-flex;
  border: 1px solid var(--black);
  border-radius: 2em;
  padding: 0.5em;
  transition: all ease 0.3s;
}

.top-button {
  cursor: pointer;
  display: inline-flex;
  border: 1px solid var(--black);
  border-radius: 2em;
  padding: 0.5em;
  transition: all ease 0.3s;
}

.site-nav__link--right .close {
  margin-left: 5px;
}

.site-nav__link--right .close svg,
.toggle-button svg {
  height: 14px;
  stroke-width: 3px;
}

.top-button svg {
  height: 14px;
  stroke-width: 3px;
}

.top-button:hover {
  background: var(--black);
}

.top-button:hover svg {
  color: var(--white);
}

.project-list-header {
  align-self: start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-list-header-link {
  font-size: 13px;
  border: 1px solid var(--black);
  border-radius: 2em;
  padding: 0.2em 0.75em;
}

.project-list-header-link:hover {
  background: var(--black);
  color: var(--white);
}

.is-put-in-corner {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

/**
 * Headroom
 */
.headroom {
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.headroom--pinned {
  transform: translateY(0);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

/**
 * Images
 */
.project-img img,
.project-thumb-container img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.project-img {
  margin: 0 auto 20px auto;
}

/**
 * Page content
 */
.page-content {
  margin-top: 60px;
}

.page-content a,
.page-content a:hover {
  text-decoration: none;
}

.project-thumb-container {
  position: relative;
}

.project-thumb__overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.95);
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-out;
  pointer-events: none;
}

.project-thumb__item {
  margin-bottom: 20px;
}

.project-thumb__title {
  display: block;
  opacity: 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 1;
  color: var(--white);
  transition: all 0.3s cubic-bezier(0.215, 0.6, 0.355, 1) 150ms;
  transform: translateY(50%);
}

.project-thumb__project-title {
  position: relative;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  color: var(--white);
  display: inline-block;
}

.project-thumb__project-subtitle {
  position: relative;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  color: var(--gray);
  margin-top: 3px;
}

.project-thumb__title-container {
  opacity: 1;
  display: flex;
  padding: 25px;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s 0s ease;
}

.project-links:hover .project-thumb__title {
  transform: translateY(0);
  opacity: 1;
}

.project-links:hover .project-thumb__overlay {
  opacity: 1;
}

.project-title {
  margin-bottom: 20px;
}

.project-info {
  margin-top: 30px;
  margin-bottom: 50px;
}

.project-meta {
  font-size: 12px;
  color: var(--gray);
  margin-top: 50px;
}

.project-meta span {
  display: block;
}

.project-meta__title {
  font-weight: normal;
}

.site-section-title {
  margin-top: 5px;
  margin-bottom: 15px;
}

.site-big-text {
  margin-top: 150px;
  margin-bottom: 30px;
}

.site-big-text-padding {
  padding-right: 20vw;
}

/**
 * Project Filter
 */
.project-list-header-link.selected {
  background: var(--black);
  color: var(--white);
  transition: all 0.3s ease;
  pointer-events: none;
}

.hide {
  display: none;
}

.project-list-header-link {
  cursor: pointer;
  transition: all 0.3s ease;
}

.project-list-header-link:not(:last-child) {
  margin-right: 2px;
}

/**
 * Video
 */
video {
  width: 100%;
  display: block;
}

.video-popup {
  position: relative;
}

.video-popup .project-img {
  display: inline-block;
}

.video-popup img {
  transition: all 0.4s ease;
}

.video-popup:hover img {
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
  transition: all 0.4s ease;
}

.video-play-button {
  top: 50%;
  left: 0;
  right: 0;
  position: absolute;
  transform: translateY(-50%);
  color: var(--white);
  padding: 40px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.3em;
}

.video-play-button svg {
  width: 70px;
  height: 70px;
  fill: var(--white);
}

/**
 * Screensaver & Loader
 */
.screensaver,
.loader {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999 !important;
  pointer-events: none;
}

.screensaver-container,
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--white);
  width: 100%;
  height: 100%;
  padding: 50px;
}

.screensaver__time {
  margin-top: auto;
  color: var(--black);
  order: 2;
  overflow: hidden;
}

.screensaver__time span {
  font-size: clamp(24px, 15vw, 256px);
  display: inline-block;
  line-height: 1;
}

.loader {
  display: block;
}

.loader-container {
  background: var(--lightgray);
}

.loader-circle {
  width: 80px;
  height: 80px;
  stroke: var(--black);
  fill: transparent;
  position: absolute;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.loader-logo-container {
  position: relative;
  width: 28px;
  height: 17px;
  overflow: hidden;
}

.loader-logo {
  fill: var(--black);
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.screensaver__colon {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}

.screensaver__location {
  order: 99;
  margin-top: auto;
  font-size: 13px;
  color: var(--black);
}

/**
 * Footer
 */
.site-footer .row {
  align-items: center;
}

/**
 * Responsive
 */
@media (hover: hover) {
  .site-footer .site-footer__link:hover,
  .page--inner a:hover {
    color: var(--gray);
    transition: all 0.25s ease;
  }

  .site-nav--active:hover {
    text-decoration: none !important;
    transition: all 0.25s ease;
  }
}

@media screen and (min-width: 800px) {
  .project-header {
    margin-bottom: 30px;
  }

  .top-button {
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
  .site-header .wrap {
    padding: 30px 40px 30px 40px;
  }

  .home-link {
    display: none !important;
  }

  .site-info {
    display: none;
  }

  .mobile {
    display: none;
  }

  .site-nav--active:before,
  .site-nav__link-item:hover:before {
    left: -0.85em;
  }
}

@media screen and (max-width: 1200px) {
  .site-nav__link-item:hover:before {
    -webkit-animation: none;
    animation: none;
  }

  .container--fluid-inner {
    max-width: 100%;
    padding: 10px;
  }

  .site-header .container--fluid-inner {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 767px) {
  .container--fluid-inner {
    max-width: 100%;
    padding: 6px;
  }

  .site-header .container--fluid-inner {
    padding: 5px 6px;
  }

  .wrap {
    max-width: calc(800px - (12px));
    padding: 6px;
  }

  .pace .pace-progress {
    height: 3px;
  }

  .site-nav__link-item:hover:before {
    color: var(--black);
  }
}

@media screen and (max-width: 600px) {
  body,
  .project-thumb__project-title,
  .project-title,
  .project-thumb__project-subtitle,
  .site-footer,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 12px;
  }

  .project-list-header-link {
    font-size: 12px;
  }

  .site-header .row {
    height: 32px;
    align-items: center;
  }

  .col-left {
    order: 2;
  }

  .col-right {
    order: 1;
  }

  .site-big-text h1 {
    font-size: 32px;
  }

  .page--inner h2,
  .project-title {
    margin-bottom: 15px;
  }

  .site-big-text {
    margin-top: 100px;
    margin-bottom: 0;
  }

  .time span {
    font-size: 13vw;
  }

  .site-header {
    padding-top: 0;
    padding-bottom: 0;
    background: var(--white);
    border-bottom: 1px solid var(--lightgray);
  }

  .site-nav {
    text-align: right;
  }

  .site-nav__link--right {
    display: none;
  }

  .site-title:hover,
  .site-footer__link:hover {
    color: var(--black);
  }

  .site-nav--active:before,
  .site-nav__link-item:hover:before {
    left: -0.85em;
    line-height: 24px;
  }

  .site-nav__link-item:hover:before {
    color: var(--black);
  }

  .page-content {
    margin-top: 36px;
  }

  .separator-first {
    padding-bottom: 10px;
    margin-top: 2px;
  }

  .separator {
    padding-bottom: 10px;
    margin-top: 30px;
  }

  .project-thumb__item {
    width: 100%;
    margin-bottom: 6px;
  }

  .project-thumb__title-container {
    padding: 20px;
  }

  .video-play-button {
    font-size: 10px;
  }

  .video-play-button svg {
    width: 50px;
    height: 50px;
  }

  .site-info {
    font-size: 13px;
    margin-top: 20px;
    line-height: 1.5;
  }

  .site-info a {
    display: block;
  }

  .site-footer {
    margin-top: 30px;
  }

  .site-footer .row {
    height: 42px;
  }

  .project-info {
    clear: both;
  }

  .project-meta {
    margin-top: 40px;
    font-size: 12px;
  }

  .site-nav .site-nav__link:not(:last-child) {
    margin-right: 24px;
  }

  .site-nav__link.information {
    margin-right: 0 !important;
  }

  .project-img {
    margin: 0 auto 6px auto;
  }

  .project-img .left,
  .project-img .right {
    width: calc(50% - 3px);
    margin-bottom: 6px;
  }
}
